<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="012" android:versionName="1.0" package="com.Apt3k.SpideySenseMobileWear" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="29" />
	<application android:label="Phone.Android" android:name="android.support.multidex.MultiDexApplication">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	<service android:name=".MyWearableListenerService" android:enabled="true" android:exported="true">
	       <intent-filter>
			<action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
			<action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
			<action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
			<action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
			<action android:name="com.google.firebase.MESSAGING_EVENT" />
			<data android:scheme="wear" android:host="*" android:pathPrefix="/com.companyname.Phone.my_capability" />
			<data android:scheme="wear" android:host="*" android:pathPrefix="/my_capability" />
		</intent-filter>
	</service>
</application>
<uses-permission android:name="android.permission.INTERNET" />		
</manifest>
